<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExportContestServiceSoap11Binding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ExportContestServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/axis2/services/ExportContestService.ExportContestServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="ExportContestServiceSoap11Binding"
                contract="SVMWebservice.ExportContestServicePortType" name="ExportContestServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost:8080/axis2/services/ExportContestService.ExportContestServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="ExportContestServiceSoap12Binding"
                contract="SVMWebservice.ExportContestServicePortType" name="ExportContestServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>